# Hyper-V Host Connection
hyperv_host     = "127.0.0.1"
hyperv_port     = 5985
hyperv_tls      = false
# hyperv_user   = "Administrator"
# hyperv_password = "SecretPassword123!"

# Storage Paths
vm_storage_path     = "C:\\Hyper-V\\Virtual Hard Disks\\k8s-cluster"
base_image_vhd_path = "C:\\Hyper-V\\Templates\\ubuntu-22.04-server-cloudimg.vhdx"

# Virtual Switches
private_vswitch_name          = "k8s-private-vswitch"
public_vswitch_name           = "k8s-public-vswitch"
external_network_adapter_name = "Ethernet"

# Network CIDR and Gateway
private_subnet_cidr = "192.168.100.0/24"
gateway_ip          = "192.168.100.1"
dns_servers         = ["1.1.1.1", "8.8.8.8"]

# SSH Key
admin_ssh_public_key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIExampleAdminKeyForKubernetesClusterProvisioning admin@k8s"

# Master Node Specs
master_node = {
  name      = "k8s-master-01"
  cpus      = 2
  memory_mb = 4096
  disk_gb   = 50
  ip        = "192.168.100.10"
}

# Worker Nodes Specs
worker_nodes = {
  "k8s-worker-01" = {
    cpus      = 4
    memory_mb = 8192
    disk_gb   = 80
    ip        = "192.168.100.11"
  }
  "k8s-worker-02" = {
    cpus      = 4
    memory_mb = 8192
    disk_gb   = 80
    ip        = "192.168.100.12"
  }
}
